@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

:root {
    --yellow-color: #F9C48B;
    --orange-color: #F69051;
    --red-color: #F26D40;
    --black-color: #260803;
    --grey-white-color: #FDEFEC;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: var(--black-color);
    background-color: var(--yellow-color);
}

image {
    width: 100%;
}

/*////////////////////////
    2. Typography
////////////////////////*/

h2 {
    margin: 0.25rem 0 0 0;
}

p {
    margin: 0.5rem 0;
}

/*////////////////////////
    3. Areas
////////////////////////*/

.container-1 {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-white-color);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
    margin: 2rem;
    padding: 2rem;
}

.image-class {
    padding: 0.5rem 0;
}

/*////////////////////////
    2. Media Queries
////////////////////////*/

@media screen and (min-width: 768px) {
    body {
        background-color: var(--orange-color);
    }

    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: var(--red-color);
    }

    html {
        font-size: 18px;
    }
}